@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-globe: #F8F4ED;
  --color-island: #F5F5F5;
  --color-islandInner: #FFFFFF;
  --background-color-islandInner: #FFFFFF;
  --color-accent: #FFF0D8;
  --color-overlay: #2C271E80;
  --color-primaryColor: #170A08;
  --color-secondaryColor: #2C3E50;
  --color-tertiary: #6B6B6B;
  --color-primaryWhite: #F8F5FF;
  --color-secondaryWhite: #FFFFFFB2;
  --color-tertiaryWhite: #FFFDFA;
  --color-placeholder: #4B008226;
  --color-iconPrimaryDark: #4B0082;
  --color-iconPrimaryLight: #F5E8FF;
  --color-iconSecondary: #6B6B6B;
  --color-iconTertiary: #F5E6C8;
  --color-iconPlaceholder: #B0B0B0;
  --color-primaryDisabled: #D9D9D9;
  --color-borderColor: #E2E2E2;

  --color-secondaryDefault: #FFD5AE;
  --color-secondaryClicked: #F5E6C8;
  --color-secondaryDisabled: #F5E6C866;

  --color-tertiaryDefault: #919191;
  --color-tertiaryDisabled: #4B008233;
  --color-tertiaryClicked: #6D6D6D;

  --color-inputDefault: #B0B0B0;
  --color-inputClicked: #FC8F28;
  --color-inputDisabled: #4B008233;

  --color-error: #E63946;
  --color-warning: #FFA500;
  --color-success: #36C036;
  --color-main: #F5AB32;

  --background-image-gradientText: linear-gradient(180deg, #F5AB32 0%, #EB9132 100%);

  --background-color-accent: #FFF0D8;
  --background-image-primaryDefault: linear-gradient(270deg, #D1B606 0%, #E37A1E 100%);
  --background-image-iconLink: linear-gradient(180deg, #F5AB32 48.5%, #D97325 100%);
  --background-image-primaryClicked: linear-gradient(270deg, #FF983C 0%, #E37A1E 100%);
  --background-image-link: linear-gradient(180deg, #F5AB32 0%, #EB9132 100%);

  --background-image-profile: radial-gradient(74.44% 33.5% at 50% 15.44%, #FFFFFF 39.52%, #F8F4ED 100%);


  --boxShadow-main: 1px 1px 0 15px rgba(59, 130, 246, 0.6);
}



body {

  background: #f8f4ed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

