@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-globe: #F8F4ED;
  --color-island: #F5F5F5;
  --color-islandInner: #FFFFFF;
  --background-color-islandInner: #FFFFFF;
  --color-accent: #FFF0D8;
  --color-overlay: #2C271E80;
  --color-primaryColor: #170A08;
  --color-secondaryColor: #2C3E50;
  --color-tertiary: #6B6B6B;
  --color-primaryWhite: #F8F5FF;
  --color-secondaryWhite: #FFFFFFB2;
  --color-tertiaryWhite: #FFFDFA;
  --color-placeholder: #4B008226;
  --color-iconPrimaryDark: #4B0082;
  --color-iconPrimaryLight: #F5E8FF;
  --color-iconSecondary: #6B6B6B;
  --color-iconTertiary: #F5E6C8;
  --color-iconPlaceholder: #B0B0B0;
  --color-primaryDisabled: #D9D9D9;
  --color-borderColor: #E2E2E2;

  --color-secondaryDefault: #FFD5AE;
  --color-secondaryClicked: #F5E6C8;
  --color-secondaryDisabled: #F5E6C866;

  --color-tertiaryDefault: #919191;
  --color-tertiaryDisabled: #4B008233;
  --color-tertiaryClicked: #6D6D6D;

  --color-inputDefault: #B0B0B0;
  --color-inputClicked: #FC8F28;
  --color-inputDisabled: #4B008233;

  --color-error: #E63946;
  --color-warning: #FFA500;
  --color-success: #36C036;
  --color-main: #F5AB32;

  --background-image-gradientText: linear-gradient(180deg, #F5AB32 0%, #EB9132 100%);
  --background-color-accent: #FFF0D8;
  --background-image-primaryDefault: linear-gradient(270deg, #D1B606 0%, #E37A1E 100%);
  --background-image-iconLink: linear-gradient(180deg, #F5AB32 48.5%, #D97325 100%);
  --background-image-primaryClicked: linear-gradient(270deg, #FF983C 0%, #E37A1E 100%);
  --background-image-link: linear-gradient(180deg, #F5AB32 0%, #EB9132 100%);
  --background-image-profile: radial-gradient(74.44% 33.5% at 50% 15.44%, #FFFFFF 39.52%, #F8F4ED 100%);


  --boxShadow-main: 1px 1px 0 15px rgba(59, 130, 246, 0.6);

  --font-lato: 'Lato', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-inter: 'Inter', sans-serif;
}



body {
  font-family: 'Lato', sans-serif;
  background: #f8f4ed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.search_wrapper {
  width: 100%;
  padding: 10px 0;
  display: flex;
  column-gap: 8px;
  align-items: center;
  border-bottom: 2px solid #B0B0B0;
}

.search_input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #4B008226;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  caret-color: var(--color-tertiary);

}

.search_wrapper:focus-within {
  border-bottom: 2px solid #FC8F28;
}

.icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.arrow_down_icon {
  width: 18px;
  height: 12px;
  mask-image: url("/icons/arrowbottom.svg");
  background-color: var(--color-tertiary);
}

.editable_pen_icon {
  width: 12px;
  height: 12px;
  mask-image: url("/icons/editable-pen.svg");
  background-color: #6B6B6B;
}

.comment_send_icon {
  width: 10px;
  height: 7px;
  transform: rotate(180deg);
  mask-image: url("/icons/arrowbottom.svg");
  background-color: var(--color-primaryWhite);
}

.main_heading {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  color: var(--color-tertiary);
  font-family: 'Rubik', sans-serif !important;
}

.custom-select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: url("/icons/arrowbottom.svg") no-repeat right 10px center;
  background-size: 12px;
}